/* Reset */

*{margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
body{ background-color: #f5f5f5;}
a{ text-decoration: none;}
ul{ list-style: none;}
img{ max-width: 100%;}
p{ font-family: 'Roboto', sans-serif; font-size: 14px; font-style: italic; }

.icon-restaurantes{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-restaurantes.png) center/30px no-repeat; font-size: 0;}
.icon-lojas{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-lojas.png) center/30px no-repeat; font-size: 0;}
.icon-saude{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-saude.png) center/30px no-repeat; font-size: 0;}
.icon-imobiliaria{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-imobiliaria.png) center/30px no-repeat; font-size: 0;}
.icon-beleza{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-beleza.png) center/30px no-repeat; font-size: 0;}
.icon-mercados{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-mercados.png) center/30px no-repeat; font-size: 0;}
.icon-petshop{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-petshop.png) center/30px no-repeat; font-size: 0;}
.icon-advocacia{width: 30px; height: 30px; float: left; margin-left: 20px; margin-top: 6px; background: url(../img/icon-advocacia.png) center/30px no-repeat; font-size: 0;}

/*Bar-Top*/
#bar-top{ width: 100%; float: left; background: #323a45; padding: 15px 5px;}
.icon-tel{ width: 10px; height: 10px; float: left; margin-left: 20px; background: url(../img/icon-tel.png) center/10px no-repeat; font-size: 0;}
#bar-top p{ color: #fff; float: left; margin-left: 10px; margin-right: 10px;}
#bar-top img{ margin: 0 5px;}
.line-vertical { height: 15px; border-left: 1px solid #fff; float: left;}
#top{ width: 100%; background: #e8e8e8; padding: 20px 20px; float: left;}
#top .logo-mobile{ width: 43px; height: 57px; font-size: 0; float: left; padding: 0 0px; margin-right: 20px; border: 0px; background: url(../img/logo-mobile.png) no-repeat;}
.line-vertical-top { height: 30px; margin-top: 13px; padding-right: 20px; border-left: 1px solid #333; float: left;}
#top p{ margin-top: 11px;}

/*Menu*/
.btn-menu{ width: 100%; height: 56px; float: left; text-align: center; color: #fff; cursor: pointer; background: #e74c3c;}
.menu{ display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
.btn-close{font-size: 3em; color: #fff; float: right; cursor: pointer; margin-right: 5%;}
.menu ul{ width: 100%; float: left; text-align: center;}
.menu li{ padding: 1.5%;}
.menu li a{ font-size: 2em; color: #fff; padding: 1.5% 3%;}
.menu li a:hover{ border-bottom: 5px solid #e74c3c; }

/*Categoria*/
.btn-categoria{ width: 100%; height: 56px; float: left; text-align: center; color: #fff; cursor: pointer; background: #323a45;}
.categoria{ display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
.btn-close-categoria{font-size: 3em; color: #fff; float: right; cursor: pointer; margin-right: 5%;}
.categoria ul{ width: 100%; float: left; text-align: left;}
.categoria li{ padding: 1.5%;}
.categoria li a{ font-size: 2em; color: #fff; padding: 1.5% 3%;}
.categoria li a:hover{ border-bottom: 5px solid #e74c3c; }

/*Slide*/
#slide{ width: 100%; height: 100%; float: left; border-top: 3px solid #e74c3c; margin-bottom: 25px;}

/*Área Prata*/
#area-prata p{ font-size: 35px; font-style: italic; text-align: center; margin-left: -40px; color: #323a45;}
#area-prata h1{ font-size: 60px; margin-top: -15px; font-weight: bold; text-align: center; font-style: italic; color: #323a45;}
#area-prata .box{ width: 100%; padding:0 10px;}
#area-prata .box .icon-box{ width: 20px; height: 20px;}
#area-prata .box img{ width: 100%; height: 100%; margin-bottom:10px; margin-top: 25px;}
#area-prata .box span{ font-size: 14px; margin-left: 5px; text-align: left;}

/*Área Bronze*/
#area-bronze{ padding: 40px 0;}
#area-bronze p{ font-size: 35px; font-style: italic; text-align: center; margin-left: -40px; color: #323a45;}
#area-bronze h1{ font-size: 60px; margin-top: -15px; font-weight: bold; text-align: center; font-style: italic; color: #323a45;}
#area-bronze .box{ width: 100%; margin-top: 20px;}
#area-bronze .box a{ padding: 10px 25px; width: 100%; margin-top: 1px;  float: left; background: #323a45; color: #fff; transition: all .4s;}
#area-bronze .box a:hover{ background: #444c57; transition: all .4s;}

/*Newsletter*/
#newsletter{ width: 100%; background: #e74c3c; padding: 20px 10px; float: left; margin-top: 30px;}
#newsletter p{ color: #fff; text-align: center; padding: 0 20px; margin-bottom: 20px;}
#newsletter #form{ width: 100%; padding: 15px 20px;}
#newsletter #btn{ padding: 15px 25px; background: #323a45; border-radius: 5px; text-align: center; display: block; margin-left: auto; margin-right: auto; color: #fff; margin-top: 20px; transition: all .4s;}
#newsletter #btn:hover{ background: #a9281b; transition: all .4s; cursor: pointer;}

/*Footer*/
#footer{ width: 100%; background: #323a45; float: left; margin-top: 30px;}
#footer .box { width: 100%; padding: 15px;}
#footer .box h1{ font-size: 32px; color: #fff; font-style: italic; margin-bottom: 30px;}
#footer .box p{ color: #fff; font-style: italic;}
#footer .box .icon-footer{ width: 4%; height: 4%; margin-right: 10px; margin-top: 8px;}
#footer .box img{ margin-top: 30px; margin-right: 5px;}

/*Copyright*/
#copyright{ width: 100%; background: #232d3c; padding: 25px 10px; float: left;}
#copyright p{ color: #fff; font-style: italic; text-align: center; }

/*=== MobileFirst ===*/
/*=== Small Devices - Smartphones ===*/
@media screen and (min-width: 480px){
	#top .logo-mobile{ width: 165px; height: 57px; display: block; margin-right: 0 auto; margin-left: 0 auto; font-size: 0;  border: 0px; background: url(../img/logo.png) no-repeat;}
	.line-vertical-top { display: none; height: 0px; margin-top: 0px; padding-right: 20px; border-left: 0px solid #333; float: left;}
	#top p{ display: none; font-size: 12px;}
	#top{ width: 100%; background: #e8e8e8; padding: 20px 20px; float: left;}

	.btn-menu{ width: 56px; height: 56px; border-radius: 56px; float: right; text-align: center; color: #fff; cursor: pointer; background: #e74c3c; margin-top: -75px; margin-right: 20px;}
	.menu{ display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
	.btn-close{font-size: 3em; color: #fff; float: right; cursor: pointer; margin-right: 5%;}
	.menu ul{ width: 100%; float: left; text-align: center;}
	.menu li{ padding: 1.5%;}
	.menu li a{ font-size: 2em; color: #fff; padding: 1.5% 3%;}
	.menu li a:hover{ border-bottom: 5px solid #e74c3c; }
}

/* Medium Devices - Tablets & Desktops */
@media screen and (min-width: 768px){
	#top .logo-mobile{ width: 165px; height: 57px; display: block; margin-right: 0 auto; margin-left: 0 auto; font-size: 0;  border: 0px; background: url(../img/logo.png) no-repeat;}
	.line-vertical-top { display: inline; height: 30px; margin-top: 13px; padding-right: 20px; border-left: 1px solid #333; float: left;}
	#top p{ display: inline; font-size: 16px; margin-top: 17px; float: left;}
	#top{ width: 100%; background: #e8e8e8; padding: 20px 20px; float: left;}

	#area-prata .box{ width: 25%; padding:0 10px; float: left;}
	#area-prata .box img{ width: 100%; height: 100%; margin-bottom:10px; margin-top: 25px;}

	#area-bronze p{ font-size: 35px; font-style: italic; padding-top: 30px; text-align: center; margin-left: -40px; color: #323a45;}
	#area-bronze h1{ font-size: 60px; margin-top: -15px; font-weight: bold; text-align: center; font-style: italic; color: #323a45;}
	#area-bronze .box{ width: 25%; padding: 0 10px; margin-top: 20px; float: left; }

	#footer .box { width: 33%; padding: 15px; float: left;}
}

/* Large Devices - Wide Screens */
@media screen and (min-width: 1280px){
	#top{ width: 100%; background: #e8e8e8; padding: 35px 100px; float: left;}

	.btn-menu{ display: none;}
	.btn-close{ display: none;}
	.menu { width: auto; height: 0px; float: right; margin-top: -75px; margin-right: 100px; background-color: #064; display: block; position: static; }
	.menu li{ padding:0 10px; display: inline; float: left; margin: 0 5px; }
	.menu li a{ color:#333; font-size: 1em; font-style: italic; font-weight: bold; transition: all .4s;}
	.menu li a:hover{ border-bottom: 5px solid #e74c3c;  color: #333; transition: all .4s;}
	.menu ul{float: left; text-align: center;}

	/*Categoria*/
	.btn-categoria{ display: none;}
	.btn-close-categoria{display: none;}
	.categoria { width: 100%; height: 100%; float: left; padding: 0 100px; background-color: #fff; display: block; position: static; }
	.categoria li{ padding:0 0px; display: inline; float: left; margin: 0 5px; }
	.categoria li a h1{ background: ; float: left; width: 100%; display: block; margin-right: auto; margin-left: auto;}
	.categoria li a{ padding: 28px 28px; margin: 0; float: left; background: red;  color:#333; font-size: 1em; font-style: italic; font-weight: bold; transition: all .4s;}

	.categoria li a:hover{ border-bottom: 0px;  color: #333; transition: all .4s;}
	.categoria ul{float: left; text-align: center;}

	#area-prata{ width: 100%; padding: 0 50px;}
	#area-prata .box{ width: 25%; padding:0 10px; float: left;}
	#area-prata .box img{ width: 100%; height: 100%; margin-bottom:10px; margin-top: 25px;}

	#area-bronze{ padding: 0 50px;}
	#area-bronze .box{ width: 25%; padding: 0 10px; margin-top: 20px; float: left; }

	#newsletter{ width: 100%; background: #e74c3c; padding: 75px 200px; float: left; margin-top: 30px;}
	#newsletter p{ color: #fff; text-align: center; padding: 0 20px; margin-bottom: 20px;}
	#newsletter #form{ width: 50%; padding: 15px 20px; float: left; margin-left: 185px;}
	#newsletter #btn{ padding: 15px 25px; float: left; background: #323a45; border-radius: 5px; text-align: center;  color: #fff; margin-top: 0px; transition: all .4s; border-radius: 0 5px 5px 0;}
	#newsletter #btn:hover{ background: #a9281b; transition: all .4s; cursor: pointer;}

	#footer { padding: 0 50px;}
	#footer .box { width: 33%; padding: 15px; float: left;}
}